* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;

}

@font-face {
    font-family: 'policehome'; 
    src: url('./RobotoMono-Regular.ttf') format('truetype'); 
}


body{
    background-color: black;
    background-size: cover;
}

header{
    display: flex;
    justify-content: flex-end;
    padding: 60px;

}

nav ul {
    display: flex;
    margin: 0px 30px;
}

nav ul li{
    margin-left: 60px;
}

nav ul li a{
    color: brown;
    text-decoration: none;
    font-size: 25px;
    font-family: 'policehome', 'sans-serif'
}

p {
    color: rgb(254, 254, 254);
    font-family: 'Times New Roman', Times, serif ;
    font-size: 27px;

}

.titleh1 {
    color: rgba(255, 248, 248, 0.627);
    padding-top: 80px;
    font-size: 40px;
    margin-left: 170px;
}

h1 {
    font-family: 'policehome', 'sans-serif'
}

.abouttext {
    font-size: 25px;
    padding-top: 40px;
    margin-left: 700px;
    max-width: 600px;
}