* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;

}

@font-face {
    font-family: 'policehome'; 
    src: url('./RobotoMono-Regular.ttf') format('truetype'); 
}


body{
    background-color: black;
    background-size: cover;
}

header{
    display: flex;
    justify-content: flex-end;
    padding: 60px;

}

nav ul {
    display: flex;
    margin: 0px 30px;
}

nav ul li{
    margin-left: 60px;
}

nav ul li a{
    color: brown;
    text-decoration: none;
    font-size: 25px;
    font-family: 'policehome', 'sans-serif'
}

.projecttitle{
    padding-top: 90px;
    font-size: 40px;
    margin-left: 250px;
    color: rgba(255, 248, 248, 0.627);
    padding-bottom: 100px;

}

.projects {
    display: flex; 
    justify-content: space-around; 
    align-items: center; 
    gap: 30px; 
    padding: 50px 0; 
}

.lien {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 320px; 
    height: 120px; 
    font-size: 30px;
    font-weight: bold;
    background-color: #ffffff; 
    border-radius: 15px; 
    transition: background-color 0.3s ease;
}

.lien a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-family: './RobotoMono-Regular.ttf';
}

.lien:hover {
    background-color: brown; 
}